<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/l font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Update My Project</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/updatemyproject.css" />
</head>
<body>

  <!-- Content Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../assets/img/icon/logo-dubways.png" alt="Logo Dubways" style="height: 50px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/updatemyproject">Update Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonial">Testimonials</a>
          </li>
        </ul>
        <a href="/contact">
          <button class="btn btn-outline-danger" type="submit">
            Contact Me
          </button>
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar Content End -->

  <!-- Content Update My Project -->
  <div class="container">
    <h1 class="text-center fw-bold my-5">UPDATE MY PROJECT</h1>
    <form action="/updatemyproject/{{index}}" method="POST" enctype="multipart/form-data">
      <div class="col-md-8 offset-md-2 mb-4">
        <label for="inputProject" class="form-label fw-semibold fs-6">Project Name</label>
        <input type="text" class="form-control" data-bs-theme="light" id="inputProject" name="inputProject"
          value="{{project.inputProject}}" required />
      </div>
      <div class="col-md-8 offset-md-2 mb-3">
        <div class="row">
          <div class="col-md-6">
            <label for="startDate" class="form-label fw-semibold fs-6">Start Date</label>
            <input type="date" class="form-control" data-bs-theme="light" id="startDate" name="startDate"
              value="{{project.start}}" required />
          </div>
          <div class="col-md-6">
            <label for="endDate" class="form-label fw-semibold fs-6">End Date</label>
            <input type="date" class="form-control" data-bs-theme="light" id="endDate" name="endDate"
              value="{{project.end}}" required />
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 mb-4">
        <label for="description" class="form-label fw-semibold fs-6 mt-3">Description</label>
        <textarea class="form-control inputcontact" data-bs-theme="light" id="description" name="description" rows="3"
          required style="resize: none;">{{project.deskripsi}}</textarea>
      </div>
      <div class="col-md-8 offset-md-2 mb-3">
        <label class="form-label fw-semibold fs-6 mb-2">Technologies</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-check mb-3">
              <input class="form-check-input" data-bs-theme="light" type="checkbox" value="Node Js" id="NodeJs" name="technologies" value="{{project.technologies}}" />
              <label class="form-check-label fw-semibold" for="NodeJs">Node JS</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" data-bs-theme="light" type="checkbox" value="React Js" id="ReactJs" name="technologies" value="{{project.technologies}}"/>
              <label class="form-check-label fw-semibold" for="ReactJs">React JS</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check mb-3">
              <input class="form-check-input" data-bs-theme="light" type="checkbox" value="Next Js" id="NextJs"
              name="technologies" value="{{project.technologies}}"/>
              <label class="form-check-label fw-semibold" for="NextJs">Next JS</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" data-bs-theme="light" type="checkbox" value="TypeScript" id="TypeScript" name="technologies" value="{{project.technologies}}" />
              <label class="form-check-label fw-semibold" for="TypeScript">TypeScript</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 mb-5">
        <label for="inputImage" class="form-label fw-semibold fs-6 mt-2">Project Image</label>
        <input type="file" class="form-control" data-bs-theme="light" id="inputImage" name="image" />
      </div>
      <div class="col-md-8 offset-md-2 d-flex justify-content-end mt-4 mb-5">
        <input type="submit" value="Submit" class="btn btn-dark w-25" id="submitButton" />
      </div>
    </form>
  </div>
  <!-- End Content Update My Project -->

  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"
  >
  </script>

</body>
</html>
